[run]
# Como o pytest roda dentro de 'project/', o source é o diretório atual (.)
source = project/
omit =
    # Padrões genéricos para ignorar em QUALQUER app (core, cart, etc)
    */migrations/*
    */tests/*
    */static/*
    */templates/*
    
    # Arquivos específicos de configuração
    manage.py
    project/asgi.py
    project/wsgi.py
    project/settings*.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    raise NotImplementedError
    def __repr__
    def __str__
    if TYPE_CHECKING:

[html]
directory = htmlcov

[xml]
output = coverage.xml