SECRET_KEY = "secret"

DEBUG = True

ALLOWED_HOSTS = "localhost, 127.0.0.1"

DB_ENGINE = "django.db.backends.postgresql"
POSTGRES_DB = "postgres"
POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = "postgres"
POSTGRES_HOST = "localhost"
POSTGRES_PORT = "5432"
